In [1]:
import pandas as pd

In [2]:
data = {
    "transaction_id": [1,2,3],
    "user_id": ["u1", "u2", "u1"],
    "transaction_time": ["2025-09-16 14:32:10", "2025-09-16 02:45:35", "2025-09-17 09:12:22"],
    "amount": [100.5, 500.0, 250.75]
}

df = pd.DataFrame(data)
df["transaction_time"] = pd.to_datetime(df["transaction_time"])

In [5]:
df["transaction_hour"] = df["transaction_time"].dt.hour
df["transaction_dayofweek"] = df["transaction_time"].dt.dayofweek
df["is_weekend"] = df["transaction_dayofweek"].isin([5,6]).astype(int)
df["is_business_hour"] = df["transaction_hour"].between(9,18).astype(int)
df["delta_time_user"] = df.groupby("user_id")["transaction_time"].diff().dt.total_seconds()

In [6]:
df

,transaction_id,user_id,transaction_time,amount,transaction_hour,transaction_dayofweek,is_weekend,is_business_hour,delta_time_user
0,1,u1,2025-09-16 14:32:10,100.50,14,1,0,1,NaN
1,2,u2,2025-09-16 02:45:35,500.00,2,1,0,0,NaN
2,3,u1,2025-09-17 09:12:22,250.75,9,2,0,1,67212.0

In [ ]:
df.columns()